    <!-- HEADER -->
    <div id="outerheader">
      <header>
        <div id="bg-image">
        <!-- TITLE -->
          <div id="outertitle">
            <div class="container">
              <div class="row">
                <div class="twelve columns">
                  <div class="pagetitle">
                    <h1>About Us</h1>
                    <div class="pagedesc">Fusce et nunc at lacus pellentesque egestas non et sapien.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- END TITLE -->

        <div class="slider-pattern"></div>
          <img src="images/bgheader/bg-header1.jpg" alt="" />
        </div>
      </header>
    </div>
    <!-- END HEADER -->

    <!-- MAIN CONTENT -->
    <div id="outermain">
      <div class="container">
        <div class="row">
          <section id="maincontent" class="eight columns positionleft">
            <div class="padcontent">
              <section class="content">
                <h3>Our Philosophy</h3>
                <p>Sed laoreet pretium nibh eu mattis. Praesent sit amet mauris mi, non suscipit sapien. Etiam vitae porttitor nulla. Nunc at imperdiet justo. Integer laoreet neque at felis lobortis at lacinia justo pulvinar. Nullam in ligula lacus, iaculis sollicitudin eros. Quisque feugiat ipsum et sem auctor sagittis. Maecenas dignissim libero eget nibh accumsan porta. Mauris posuere purus quis risus aliquam convallis. Phasellus facilisis cursus tincidunt. Aliquam erat volutpat.</p>
                <ul class="list colortext">
                  <li>Nullam vel odio et nunc viverra eleifend.</li>
                  <li>In laoreet pharetra felis, at suscipit felis dignissim sit amet.</li>
                  <li>Phasellus feugiat risus quis orci tempor a elementum orci cursus.</li>
                  <li>Nam id nibh felis, in iaculis arcu.</li>
                </ul>
                <img src="images/content/pic.jpg" alt="" class="frame" />
                <div class="spacer"></div>
                <p>Curabitur eu magna quam, ac tempor erat. Fusce diam libero, porttitor sed consequat at, condimentum ut enim. Maecenas sed dictum lectus. Fusce sed ante mi. Vestibulum a leo in nisl venenatis semper. Phasellus bibendum interdum hendrerit. Nam elementum molestie ullamcorper. Mauris quis odio arcu.</p>
                <blockquote>Curabitur eu magna quam, ac tempor erat. Fusce diam libero, porttitor sed consequat at, condimentum ut enim. Maecenas sed dictum lectus. Fusce sed ante mi. </blockquote>
                <p>Aenean ipsum metus, cursus ac tincidunt eu, egestas eget tellus. Fusce sem arcu, ultricies non fringilla at, egestas vel mi. Phasellus nibh sapien, ullamcorper eget posuere vitae, accumsan et libero. </p>
                <p>Fusce suscipit viverra consequat. Suspendisse potenti. Curabitur id lectus sapien. Aenean laoreet lobortis gravida. Cras ut facilisis dui. Mauris viverra luctus diam, vitae gravida purus euismod eget. Sed dolor purus, tincidunt vel sagittis eu, luctus eu nibh. Integer turpis urna, aliquet a auctor ac, eleifend facilisis arcu. Proin ut elit risus, ac auctor nunc. Nunc sodales eros in est convallis varius.</p>
              </section>
            </div>
          </section>
        <aside class="sidebar four columns">
          <ul>

            <li class="widget-container">
              <h2 class="widget-title">Text Widget</h2>
                <div class="textwidget">
                  <p>Etiam a vestibulum velit. Nulla fermentum nunc ac tortor blandit posuere. Sed laoreet pretium nibh eu mattis. Praesent sit amet mauris mi, non suscipit sapien. Etiam vitae porttitor nulla.</p>
                </div>
            </li>

            <li class="widget-container">
              <h2 class="widget-title">Recent Post</h2>
              <ul class="rp-widget">
                <li>
                  <img src="images/content/rp1.jpg" alt="" class="alignleft frame" />
                  <h3><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h3>
                  <span class="smalldate">March 27, 2013</span>
                  <span class="clear"></span>
                </li>
                <li>
                  <img src="images/content/rp2.jpg" alt="" class="alignleft frame" />
                  <h3><a href="#">Nam vel nunc at augue vehicula feugiat.</a></h3>
                  <span class="smalldate">March 27, 2013</span>
                  <span class="clear"></span>
                </li>
                <li>
                  <img src="images/content/rp3.jpg" alt="" class="alignleft frame" />
                  <h3><a href="#">Integer pretium ipsum sit amet dui feugiat.</a></h3>
                  <span class="smalldate">March 27, 2013</span>
                  <span class="clear"></span>
                </li>
              </ul>
            </li>

            <li class="widget-container">
              <h2 class="widget-title">Categories</h2>
              <ul>
                <li><a href="#">Specialities</a></li>
                <li><a href="#">New Dishes</a></li>
                <li><a href="#">Food Experiences</a></li>
                <li><a href="#">LaMonte Events</a></li>
                <li><a href="#">Our Restaurant</a></li>
                <li><a href="#">New Drinks</a></li>
              </ul>
            </li>
          </ul>
        </aside>

        </div>
      </div>
    </div>
    <!-- END MAIN CONTENT -->

