<div id="bg-image">
  <!-- TITLE -->
  <div id="outertitle">
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <div class="pagetitle">
            <h1>Contact Us</h1>
            <div class="pagedesc">Located in the heart of downtown Denver</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END TITLE -->
  <div class="slider-pattern"></div>
  <img src="/images/bgheader/bg-header1.jpg" alt="" />
</div>

</header>
</div>
<!-- END HEADER -->


<!-- MAIN CONTENT -->
<div id="outermain">
  <div class="container">
    <div class="row">
      <section id="maincontent" class="eight columns positionleft">
        <div class="padcontent">
          <section class="content">
            <iframe width="100%" height="293" class="frame" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=122+East+8th+Avenue,+Denver,+CO&amp;aq=&amp;sll=39.728951,-104.985756&amp;sspn=0.011288,0.022724&amp;ie=UTF8&amp;hq=&amp;hnear=122+E+8th+Ave,+Denver,+Colorado+80203&amp;ll=39.728957,-104.985759&amp;spn=0.011288,0.022724&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=122+East+8th+Avenue,+Denver,+CO&amp;aq=&amp;sll=39.728951,-104.985756&amp;sspn=0.011288,0.022724&amp;ie=UTF8&amp;hq=&amp;hnear=122+E+8th+Ave,+Denver,+Colorado+80203&amp;ll=39.728957,-104.985759&amp;spn=0.011288,0.022724&amp;t=m&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>

            <div class="contact">
              <h3>For reservations please call us or <a href="/reservations">click here</a></h3>
              <img src="/images/phone.png" alt="" class="alignleft" /><span>(303) 863-8094</span>
              <p>If you need to cancel, please notify us immediately.</p>
            </div>
            <div class="separator"></div>
            <div id="contactform">
              <form id="contact" action="#">
                <fieldset>
                 <!--  <span class="error" id="name_error">Please enter name !</span>
                  <span class="error" id="email_error">Please enter email address !</span>
                  <span class="error" id="email_error2">Please enter valid email address !</span>
                  <span class="error" id="msg_error">Please enter message !</span> -->
                  <label for="name" id="name_label">Your Name:</label>
                  <input type="text" name="name" id="name" size="50" value="" class="text-input" />
                  <label for="email" id="email_label">Your Email:</label>
                  <input type="text" name="email" id="email" size="50" value="" class="text-input" />
                  <label for="subject" id="subject_label">Subject:</label>
                  <input type="text" name="subject" id="subject" size="50"  value="" class="text-input" />
                  <label for="msg" id="msg_label">Message:</label>
                  <textarea rows="10" name="msg" id="msg" class="text-input"></textarea>
                  <br />
                  <input type="submit" name="submit" class="button" id="submit_btn" value="Send Message"/>
                </fieldset>
              </form>
            </div><!-- end contactform -->

          </section>

        </div>
      </section>

      <aside class="sidebar four columns">
        <ul>
          <li class="widget-container">
            <h2 class="widget-title">Our Location</h2>
            <div class="textwidget">
              <strong>Le Central</strong><br>
              112 East 8<sup>th</sup> Ave<br>
              Denver, CO 80203<br>
              Call: (303) 863-8094<br>
              Email: <a href="mailto:testyourfood@mail.com">testyourfood@mail.com</a><br>
            </div>
          </li>
          <li class="widget-container">
            <h2 class="widget-title">Opening Hours</h2>
            <ul class="open-hours">
              <li>Monday <span>11:30AM - 10:00PM</span></li>
              <li>Tuesday <span>11:30AM - 10:00PM</span></li>
              <li>Wednesday <span>11:30AM - 10:00PM</span></li>
              <li>Tursday <span>11:30AM - 10:00PM</span></li>
              <li>Friday <span>11:30AM - 10:00PM</span></li>
              <li>Saturday <span>10:00AM - 10:00PM</span></li>
              <li>Sunday <span>10:00AM - 09:00PM</span></li>
            </ul>
          </li>
        </ul>

      </aside>

    </div>
  </div>
</div>
<!-- END MAIN CONTENT -->




