<footer id="footersection">
<!-- COPYRIGHT -->
  <div id="outerfooter">
    <div class="container">
      <div class="row">
        <div class="twelve columns">

          <ul id="footer-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/reservation">Reservation</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>

          <ul class="sn">
            <li><a href="http://twitter.com" title="Twitter"><span class="icon-img twitter"></span></a></li>
            <li><a href="http://facebook.com" title="Facebook"><span class="icon-img facebook"></span></a></li>
            <li><a href="https://plus.google.com" title="Google+"><span class="icon-img google"></span></a></li>
            <li><a href="http://pinterest.com" title="Pinterest"><span class="icon-img pinterest"></span></a></li>
          </ul>

          <div id="copyright">
            112 E. 8<sup>th</sup> Ave Denver, CO 80203<br>
            Copyright &copy; 2013 <a href="#">Le Central</a>. Design by <a href="#">Brian, Kevin, Jonah</a>
          </div>

          <div id="toTop">top</div>
        </div>
      </div>
    </div>
  </div>
  <!-- END COPYRIGHT -->

</footer>
<div class="clear"></div><!-- clear float -->
