<div id="outermain">
  <div class="container">
    <div class="row">
      <section id="maincontent" class="twelve columns">
        <section class="content">
          <div class="promotion">
            <div class="row">
              <div class="one_fourth columns">
                <img src="/images/icon1.png" alt="" />
                <h2><a href="#">Sweet Menu</a></h2>
                <p>Pellentesque sapien lectus, fermentum in blandit non, aliquam consectetur nibh. Etiam non faucibus orci.</p>
                <a href="#" class="button">Read More</a>
              </div>
              <div class="one_fourth columns">
                <img src="/images/icon2.png" alt="" />
                <h2><a href="#">Good Rest</a></h2>
                <p>Pellentesque sapien lectus, fermentum in blandit non, aliquam consectetur nibh. Etiam non faucibus orci.</p>
                <a href="#" class="button">Read More</a>
              </div>
              <div class="one_fourth columns">
                <img src="/images/icon3.png" alt="" />
                <h2><a href="#">Daily Specials</a></h2>
                <p>Pellentesque sapien lectus, fermentum in blandit non, aliquam consectetur nibh. Etiam non faucibus orci.</p>
                <a href="#" class="button">Read More</a>
              </div>
              <div class="one_fourth columns">
                <img src="/images/icon4.png" alt="" />
                <h2><a href="#">Best Cooks</a></h2>
                <p>Pellentesque sapien lectus, fermentum in blandit non, aliquam consectetur nibh. Etiam non faucibus orci.</p>
                <a href="#" class="button">Read More</a>
              </div>
            </div>
          </div>
        </section>
      </section>
    </div>
  </div>
</div>
