<!-- SLIDER -->
<%= erb :slider %>
<!-- END SLIDER -->
<!-- BEFORE CONTENT -->
<div id="outerbeforecontent">
  <div class="light">
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <h1>Welcome to <span class="colortext">Le Central</span><br> The Best French Cusine in Denver</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END BEFORE CONTENT -->
<div id="outermain">
  <div class="container">
    <div class="row">
      <section id="maincontent" class="twelve columns">
        <section class="content">
          <div class="promotion">
            <div class="row">
              <div class="one_fourth columns">
                <img src="/images/icon1.png" alt="" />
                <h2><a href="#">Menu</a></h2>
                <p>"Denver's Affordable French Restaurant cooks up truly great Provencal-inspired dishes in a comfy bistro setting."<br /> --Kyle Wagner, Westword</p>
                <a href="/menu/Dinner" class="button">Read More</a>
              </div>
              <div class="one_fourth columns">
                <img src="/images/icon2.png" alt="" />
                <h2><a href="/reservation">Reservations</a></h2>
                <p>Reservations are recommended during peak times or if you have a large party.  Walk-ins also welcome -- you can enjoy a glass of affordable wine while you wait.</p>
                <a href="/reservation" class="button">Read More</a>
              </div>
              <div class="one_fourth columns">
                <img src="/images/icon3.png" alt="" />
                <h2><a href="#">About</a></h2>
                <p>Conceived with the notion that French food doesn't have to be stuffy, snoody, heavy, or expensive - Le Central offers a plateful at a reasonable price.</p><br/>
                <a href="/about" class="button">Read More</a>
              </div>
              <div class="one_fourth columns">
                <img src="/images/icon4.png" alt="" />
                <h2><a href="/contact">Contact</a></h2>
                <p>Let us know how you enjoyed your meal, service or atmosphere.  We always welcome your comments.<br />You'll also find directions to our restaurant.</p>
                <a href="/contact" class="button">Read More</a>
              </div>
            </div>
          </div>
        </section>
      </section>
    </div>
  </div>
</div>
