<!-- SLIDER -->
<%= erb :slider %>
<!-- END SLIDER -->
<!-- BEFORE CONTENT -->
<div id="outerbeforecontent">
  <div class="light">
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <h1>Welcome to <span class="colortext">Le Central</span><br> The Best French Cusine in Denver</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END BEFORE CONTENT -->
<div id="outermain">
  <div class="container">
    <div class="row">
      <section id="maincontent" class="twelve columns">
        <section class="content">
          <div class="promotion">
            <div class="row">
              <div class="one_fourth columns">
                <img src="/images/icon1.png" alt="" />
                <h2><a href="#">Menu</a></h2>
                <p>Pellentesque sapien lectus, fermentum in blandit non, aliquam consectetur nibh. Etiam non faucibus orci.</p>
                <a href="#" class="button">Read More</a>
              </div>
              <div class="one_fourth columns">
                <img src="/images/icon2.png" alt="" />
                <h2><a href="/reservation">Reservations</a></h2>
                <p>Pellentesque sapien lectus, fermentum in blandit non, aliquam consectetur nibh. Etiam non faucibus orci.</p>
                <a href="/reservation" class="button">Read More</a>
              </div>
              <div class="one_fourth columns">
                <img src="/images/icon3.png" alt="" />
                <h2><a href="#">Calendar</a></h2>
                <p>Pellentesque sapien lectus, fermentum in blandit non, aliquam consectetur nibh. Etiam non faucibus orci.</p>
                <a href="#" class="button">Read More</a>
              </div>
              <div class="one_fourth columns">
                <img src="/images/icon4.png" alt="" />
                <h2><a href="/contact">Contact</a></h2>
                <p>Pellentesque sapien lectus, fermentum in blandit non, aliquam consectetur nibh. Etiam non faucibus orci.</p>
                <a href="/contact" class="button">Read More</a>
              </div>
            </div>
          </div>
        </section>
      </section>
    </div>
  </div>
</div>
