<div id="bodychild">
  <div id="outercontainer">
    <!-- FRONT PAGE -->
    <%= erb :front_page %>
    <!-- END FRONT PAGE -->

    <!-- clear float -->
    <div class="clear"></div>
  </div>
</div><!-- end bodychild -->

