<div id="bodychild">
  <div id="outercontainer">
    <!-- HEADER -->
    <div id="outerheader">
      <header>
        <!-- LOGO -->
        <div id="logo">
          <a href="/index.html"><img src="/images/logo.png" alt=""/></a>
        </div>
        <!-- END LOGO -->

        <!-- navigation -->
        <%= erb :navigation %>
        <!-- END navigation -->

        <!-- SLIDER -->
        <%= erb :slider %>
        <!-- END SLIDER -->
      </header>
    </div>
    <!-- END HEADER -->

    <!-- BEFORE CONTENT -->
    <div id="outerbeforecontent">
      <div class="light">
        <div class="container">
          <div class="row">
            <div class="twelve columns">
              <h1>Welcome to <span class="colortext">Our Restaurant</span><br> Integer laoreet tempus libero hendrerit vulputate</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END BEFORE CONTENT -->

    <!-- FRONT PAGE -->
    <%= erb :front_page %>
    <!-- END FRONT PAGE -->

    <!-- FOOTER -->
    <%= erb :footer %>
    <!-- END FOOTER -->
    <!-- clear float -->
    <div class="clear"></div>
  </div>
</div><!-- end bodychild -->

