<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8" />
<title>Le Central</title>
<meta name="robots" content="index, follow" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="author" content="" />

<!-- Mobile Specific Metas
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />


<!-- CSS
================================================== -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/styles/style.css" />
<link rel="stylesheet" href="/styles/inner.css" />
<link rel="stylesheet" href="/styles/flexslider.css" />
<link rel="stylesheet" href="/styles/prettyPhoto.css"  media="screen" />
<link rel="stylesheet" href="/styles/color.css" />
<link rel="stylesheet" href="/styles/layout.css" />


<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Favicons
================================================== -->
<link rel="shortcut icon" href="/images/favicon.ico" />
</head>
<body class="home">
  <!-- HEADER -->
  <div id="outerheader">
    <header>
      <!-- LOGO -->
      <div id="logo">
        <a href="/index.html"><img src="/images/logo.png" alt=""/></a>
      </div>
      <!-- END LOGO -->

      <!-- navigation -->
      <%= erb :navigation %>
      <!-- END navigation -->

    </header>
  </div>
  <!-- END HEADER -->
<div id="bodychild">
<div id="outercontainer">
<%= yield %>

<!-- FOOTER -->
<%= erb :footer %>
<!-- END FOOTER -->
</div><!-- end outercontainer -->
</div><!-- end bodychild -->
<!-- ////////////////////////////////// -->
<!-- //      Javascript Files        // -->
<!-- ////////////////////////////////// -->
<script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>

<!-- jQuery Superfish -->
<script type="text/javascript" src="/js/hoverIntent.js"></script>
<script type="text/javascript" src="/js/superfish.js"></script>
<script type="text/javascript" src="/js/supersubs.js"></script>

<!-- jQuery PrettyPhoto -->
<script type="text/javascript" src="/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="/js/fade.js"></script>

<!-- jQuery Dropdown Mobile -->
<script type="text/javascript" src="/js/tinynav.min.js"></script>

<!-- Custom Script -->
<script type="text/javascript" src="/js/custom.js"></script>

<!-- jQuery Flexslider -->
<script type="text/javascript" src="/js/jquery.flexslider-min.js"></script>
<script type="text/javascript">
jQuery(window).load(function() {
    jQuery('#slider').flexslider({
          animation: "fade",
      animationDuration: 600,
      directionNav: false,
      touch: true,
      controlNav: true
        });

    jQuery('#carousel').flexslider({
    animation: "slide",
    animationLoop: false,
    itemWidth: 235,
    itemMargin: 5,
    minItems: 2,
    maxItems: 3,
    touch: true,
    directionNav: true,
    controlNav: false
    });

});
</script>


</body>
</html>
