<div id="bg-image">
  <!-- TITLE -->
  <div id="outertitle">
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <div class="pagetitle">
            <h1>Menu</h1>
            <div class="pagedesc"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END TITLE -->
  <div class="slider-pattern"></div>
  <img src="/images/bgheader/bg-header1.jpg" alt="" />
</div>

</header>
</div>
<!-- END HEADER -->
<div id="outermain">
  <div class="container">
    <div class="row">
      <!-- <section id="maincontent" class="eight columns positionleft"> -->
      <div class="padcontent">
        <section class="content">
          <div id= "menu_main">
            <% meal.each do |course, items|  %>
                <center><font face="araepy" color="green"><h1><%= course %></h1></font></center>
                <% items.each do |item| %>
                    <div id="row_container">
                      <div id="menu_name"><h4><%= item[:name] %></h4></div> 
                      <div id="menu_description"><p><%= item[:description] %></p></div> 
                      <div id="menu_price"><p><%= item[:price] %></p></div>
                    </div><!--end row container -->
                <% end %><!-- end loop -->
            <% end %>
            <center><img src="../images/top.png"></center>
          </div> <!--end main menu container -->
        </section>
      </div>
      <!-- </section> -->
    </div>
  </div>
</div>
