<div id="outermainmenu">
  <div class="container">
    <div class="row">
      <section id="navigation" class="column menu">
        <nav id="nav-wrap">
          <ul id="topnav" class="sf-menu">
            <li class="current"><a href="/"><img src="/images/home.gif"></a></li>
            <li><a>Our Menu</a>
              <ul>
                <% menu.meals.each do |meal| %>
                  <li><a href="/menu/<%= meal %>"><%= meal %></a></li>
                <% end %>
              </ul>
            </li>
            <li><a href="/reservation">Reservation</a></li>
            <li class="space"><a href="/gallery">Gallery</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul><!-- topnav -->
        </nav><!-- nav -->
      </section>
    </div>
  </div>
</div>
