<div id="outerslider">
  <div id="slidercontainer">
    <section id="slider" class="flexslider">
      <div class="slider-pattern"></div>
      <ul class="slides">
        <li>
          <img src="/images/content/slidea.jpg" alt="" />
          <div class="flex-caption">
            <div class="slider-text">
              <h1>French cuisine in an eclectic setting</h1>
              <p class="slider-desc">We bring you the best of French cuisine at an affordable price in a quirky setting</p>
              <% if flash[:notice] %>
                <p style="font-size: 2em; font-weight: bold; color: red;"><%= flash[:notice] %></p>
              <% end %>
            </div>
          </div>
        </li>
        <li>
          <img src="/images/content/slidee.jpg" alt="" />
          <div class="flex-caption">
            <div class="slider-text">
              <h1>Comfortable Atmosphere</h1>
              <p class="slider-desc">Whether it's a first date or a meal with friends we have you covered</p>
            </div>
          </div>
        </li>
        <li>
          <img src="/images/content/slideb.jpg" alt="" />
          <div class="flex-caption">
            <div class="slider-text">
              <h1>Highly Rated</h1>
              <p class="slider-desc">Our food is great, but don't take our word for it. We are highly rated on yelp and TripAdvisor.</p>
            </div>
          </div>
        </li>
      </ul>
    </section>
  </div>
</div>
