<div id="outerslider">
  <div id="slidercontainer">
    <section id="slider" class="flexslider">
      <div class="slider-pattern"></div>
      <ul class="slides">
        <li>
          <img src="/images/content/slide1.jpg" alt="" />
          <div class="flex-caption">
            <div class="slider-text">
              <h1>You Are in the Right Place</h1>
              <p class="slider-desc">Fusce et nunc at lacus pellentesque egestas non et sapien.</p>
            </div>
          </div>
        </li>
        <li>
          <img src="/images/content/slide2.jpg" alt="" />
          <div class="flex-caption">
            <div class="slider-text">
              <h1>You Will Enjoy Your meal</h1>
              <p class="slider-desc">Fusce et nunc at lacus pellentesque egestas non et sapien. </p>
            </div>
          </div>
        </li>
        <li>
          <img src="/images/content/slide3.jpg" alt="" />
          <div class="flex-caption">
            <div class="slider-text">
              <h1>We offer you the best meal</h1>
              <p class="slider-desc">Maecenas quis erat fringilla augue feugiat vulputate a eu sem. </p>
            </div>
          </div>
        </li>
      </ul>
    </section>
  </div>
</div>
