<html>
  <head>
    <meta charset='utf-8'>
    <title>Contact Page Message</title>
  </head>
    <body>
      <h1>From: <%= name %></h1>
      <h1>Email: <%= email %></h1>
      <h1>Subject: <%= subject %></h1>
      <h1>Message: </h1>
      <p><%= message %></p>
    </body>
</html>
